<iframe width="640" height="360" src="https://www.youtube.com/embed/1Ij4Wd8ISqM" frameborder="0" gesture="media" allowfullscreen></iframe>

<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<%= form_with model: Comment.new, Local: true do |f|  %>
	<%= f.label :content %>
	<%= f.text_field :content %>
	<%= f.submit :enviar %>
	<%=  %>
<% end %>

<div id = "comments">
	
</div>



<script>
	// $(window).click(function() { activa el evento clic envia la ruta el tipo de llamado tipo de respuesta }
	$("[name = commit]").click(function(e) {

		e.preventDefault();

		var new_content = $("[name='comment[content]']").val();  //obtengo el texto del text_field

		$.ajax({
			url: '<%= comments_path %>',
			type: 'POST',
			dataType: 'json',
			data: {comment: {content: new_content}}
		})

		.done(function(data) {
			console.log(data);
			$("#comments").append("<p>" + data.content + "</p>");
		})

		.fail(function() {
			console.log("error");
		})

		.always(function() {
			console.log("complete");

		});
	});
</script>
